:root {
    --font-primary: 'poppins', sans-serif;
    /*tipo de fuente*/
    --color-bg: #1e1e2f;
    /* Fondo general oscuro */
    --color-text-primary: #ffffff;
    /* Texto principal blanco */
    --color-text-secondary: #b5b5c3;
    /* Texto secundario gris claro */

    /* Colores de acento */
    --color-accent: #ff2d75;
    /* Rosa para botones, íconos sociales, etc. */
    --color-icon: #f14e68;
    /* Rojo suave para íconos de servicios */

    /* Colores de elementos */
    --color-card-bg: #2c2c3a;
    /* Fondo de las tarjetas/servicios */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-primary);
    color: var(--color-text-primary);
}

/*Barra de navegación*/
.cabecera {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 15px;
    
}

h1 {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 0.4%;
    
}
.navegacion {
    display: flex;
    width: 50%;
    
}
.navItems {
    width: 100%;
    display: flex;
    margin-left: 10%;
}

.navItems a{
    text-decoration: none;
    color: var(--color-text-primary);
}
.navItems button {
    width: 90px;
    height: 100%;
    list-style: none;
    font-size: 15px;
    background-color: var(--color-bg);
    border: none;
}

.navItems button:hover {
    background-color: var(--color-card-bg);
}
/*seccion de foto*/
.section {
    background-color: var(--color-card-bg);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.info {
    background-color: var(--color-card-bg);
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    
}

.section img {
    background-color: var(--color-card-bg);
    width: auto;
    height:400px ;
    margin-top: 100px;
    margin-left: 10%;
}


.info ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    list-style: none;
    margin-top: 150px;
}

.info i {
    font-size: 20px;
    border: 2px solid #f14e68;
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
    color: var(--color-text-primary);
}

.sectionH2 {
    font-size: 40px;
    margin-top: 70px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    color: var(--color-text-primary);
}

.buttonSection{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.parrafo {
    width: 75%;
    height: auto;
    font-size: 15px ;
    display: flex;
    margin-top: 15px;
    margin-left: 150px;
}

.buttonSection button {
    width: 100px;
    height: 30px;
    border: 2px solid #f14e68;
    border-radius: 10px;
    background-color: var(--color-bg);
}

.buttonSection a {
    text-decoration: none;
    color: var(--color-text-primary);
}




